@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model testApp.Models.DbData.IntervalIp*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindCity</title>
</head>
<body>
    @if (ViewBag.IntervalIp != null)
    {
        <table>
            <thead>
                <tr>
                    <td> Начало диапазона </td>
                    <td> Конец диапазона</td>
                    <td> Индекс местоположения </td>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td> @ViewBag.IntervalIp.Ip_from </td>
                    <td> @ViewBag.IntervalIp.Ip_to</td>
                    <td> @ViewBag.IntervalIp.Location_index </td>
                    
                </tr>
            </tbody>
        </table>
    }
    </body>
</html>