@model IEnumerable<testApp.Models.DateIpOpCyti>
@{

    Layout = null;
}
<html>
<head>
    <title>Поиск</title>
    <style>
        H1 {
            font-size: 120%;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #333366;
        }

        nav a {
            text-decoration: none;
            line-height: 38px;
        }

        .container {
            width: 100%;
            max-width: 1024px;
            padding: 15px;
            margin: 0 auto;
        }

            .container:after {
                content: "";
                display: table;
                clear: both;
            }

        .col-1-2 {
            width: 50%;
            float: left;
        }

        .col-1-3 {
            width: 50%;
            float: left;
        }

        .col-1-4 {
            width: 25%;
            float: left;
        }

        .col-2-3 {
            width: 50%;
            float: left;
        }

        .container:after, .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .row {
            margin-bottom: 15px;
        }
    </style>

</head>
<body>
    <div class="H1"></div>
    <div class="main">
        <form method="post">
            <input type="hidden" value="@ViewBag.DateIpOpCyti" name="DateIpOpCyti" />
            <div class="container">
                <div class="row">
                    <div class="col-1-3">Поиск по Ip адресу:</div>
                    <div class="col-2-3">Поиск по местоположению:</div>
                </div>
                <div class="row">
                    <div class="col-1-2">
                        <input type="text" name="IP">
                        <input type="submit" value="Отправить" />
                    </div>
                    <div class="col-1-2">
                        <input type="text" name="Cyti">
                        <input type="submit" value="Отправить" />
                        @*<button id="say">Поиск!</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-1-2">Test</div>
                    <div class="col-1-2">Tes2</div>
                </div>
            </div>
        </form>
    </div>










    <footer></footer>
</body>
</html>